<article class="article card m-5 p-1">
  <div class="card-content">
    <div class="title">
      <a href="{{post_url}}" target="_blank">{{title}}</a>
    </div>
    <div class="p-1"> 
      <h4>({{post_url}})</h4>
    </div>
    <div class="meta p-1"> 
      {{metadata}}
    </div>
    <p class="p-1">short user description?</p>

    {{!-- comment bar --}}
    <footer class="card-footer p-2 m-2">
      <input class="input" type="comment" placeholder="Comment" id="comment" name="comment"autocomplete="comment">
      <button class="button is-success m-1">Send</button>

      {{!-- icons --}}
      <div class="m-1 pt-1" id="likeBtn">
        <span class="icon fa-lg" style="pointer-events: all; cursor:pointer">
          <i class="far fa-thumbs-up"></i>
        </span>
        <p>666</p>
      </div>
      <div class="m-1 pt-1" id="commentBtn">
        <span class="icon fa-lg" style="pointer-events: all; cursor:pointer">
          <i class="far fa-comments"></i>
        </span>
        <p>666</p>
      </div> 

    </footer>
  </div>
  {{!-- {{#if loggedIn}}
    logged in buddy  
  {{/if}} --}}

    
    {{!-- {{user.username}} on {{created_at}} --}}
    {{!-- | --}}
    {{!-- <a href="/post/{{id}}">{{comments.length}} {{"comment" comments.length}}</a> --}}
  
</article>

