<article class="article card">
  <div class="title card-header">
    <a href="{{post_url}}" target="_blank">{{title}}</a>
    <span>({{post_url}})</span>
  </div>
  <div class="meta card-body">
    hi it's david
    {{!-- {{user.username}} on {{created_at}} --}}
    {{!-- | --}}
    {{!-- <a href="/post/{{id}}">{{comments.length}} {{"comment" comments.length}}</a> --}}
  </div>
</article>

